<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.from %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Audio url:</strong>
  <%= @message.audio_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @message.image_url %>
</p>

<p>
  <strong>Media url:</strong>
  <%= @message.media_url %>
</p>

<p>
  <strong>User name:</strong>
  <%= @message.user_name %>
</p>

<p>
  <strong>User id:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
